@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.profile-body {
  min-height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
  background: #100721;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
}

.profile-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 500px;
  column-gap: 10px;
  row-gap: 40px;
  

  > .profile-card {
    flex: 0 0 200px;
    border-radius: 0.5rem;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    box-shadow: 1px 5px 15px #1e0e3e;
    position: relative;
    overflow: hidden;

    &:nth-of-type(1) {
      background: url("https://images.unsplash.com/photo-1619516388835-2b60acc4049e?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
        no-repeat 50% / cover;
    }
    &:nth-of-type(2) {
      background: url("https://images.unsplash.com/photo-1553984658-d17e19aa281a?q=80&w=1884&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
        no-repeat 50% / cover;
    }
    &:nth-of-type(3) {
      background: url("https://images.unsplash.com/photo-1554062614-6da4fa67725a?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
        no-repeat 50% / cover;
    }
    &:nth-of-type(4) {
      background: url("https://images.unsplash.com/photo-1610694955371-d4a3e0ce4b52?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
        no-repeat 50% / cover;
    }
    &:nth-of-type(5) {
      background: url("https://plus.unsplash.com/premium_photo-1673384389924-097135cbf1cd?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDF8fGhhbmQlMjBiYWdzJTIwZmFzaGlvbnxlbnwwfHwwfHx8MA%3D%3D")
        no-repeat 50% / cover;
    }
    &:nth-of-type(6) {
      background: url("https://plus.unsplash.com/premium_photo-1693242804032-e522ffb1f36d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mjl8fGNoaWxkJTIwZmFzaGlvbnxlbnwwfHwwfHx8MA%3D%3D")
        no-repeat 50% / cover;
    }
    .profile-content {
      font-size: 1.5rem;
      color: #fff;
      display: flex;
      align-items: center;
      padding: 15px;
      opacity: 0;
      flex-direction: column;
      height: 100%;
      justify-content: flex-end;
      background: rgb(2, 2, 46);
      background: linear-gradient(
        0deg,
        rgba(2, 2, 46, 0.6755077030812324) 0%,
        rgba(255, 255, 255, 0) 100%
      );
      transform: translateY(100%);
      transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
      visibility: hidden;

      span {
        display: block;
        margin-top: 5px;
        font-size: 1.2rem;
      }
    }

    &:hover {
      flex: 0 0 300px;
      box-shadow: 1px 3px 15px #7645d8;
      transform: translateY(-30px);
    }

    &:hover .profile-content {
      opacity: 1;
      transform: translateY(0%);
      visibility: visible;
    }
  }
}