@import url('https://fonts.googleapis.com/css2?family=Lobster&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.newDiv {
  font-family: "PT Sans", sans-serif;
  /* font-weight: 400; */
  font-style: normal;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.5;
  color: #f0f0f0;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.aTag {
  color: rgb(0, 0, 0)!important;
  text-decoration: none!important;
}

.titleFont{
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;;
  font-weight: 500;
  font-style: normal;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
  row-gap: 1rem;
  padding-block: 1.1rem;
  padding-inline: 3rem;
  border-radius: 0.5rem;
}

.header__logo {
  margin: 0;
}

.header__nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header__left,
.header__right {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.header__li {
  position: relative;
}

.header__a {
  display: block;
  padding-inline: 1rem;
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  border-radius: 0.5rem;
}

.header__a:hover {
  color: rgba(0, 0, 0, 0.95);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(249 249 249 / 90%);
  min-width: 160px;
  z-index: 1;
  border-radius: 0.5rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  top: calc(100% + 8px);
  left: 0;
}

.header__a.open .dropdown-content {
  display: block;
}

.dropdown-content.show {
  display: block;
}

.dropdown-item {
  padding: 0.8rem 1.5rem;
  color: rgba(240, 240, 240, 0.9);
  text-decoration: none;
  display: block;
  transition: background-color 0.2s ease-in-out;
}

.dropdown-item:hover {
  background-color: rgba(13, 27, 70, 0.8); /* Adjusted background color */
  color: white; /* Change text color on hover if needed */
}



/* .tooltiptext {
  font-size: 0.5em;
} */

.tooltip-container .tooltiptext {
  visibility: hidden;
  width: 90px;
  background-color: rgba(61, 8, 8, 0.9);
  color: #fff;
  text-align: center;
  border-radius: 0.5rem;
  padding: 0rem;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-container:hover .tooltiptext {
  margin: 10px;
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 1090px) {
  .header {
    padding-block: 3rem;
    flex-direction: column;
  }

  .header__left,
  .header__right {
    margin-block-end: 0;
    margin-block-start: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
}
