body {
    margin: 0;
    padding: 0;
    font-family: "Century Gothic", 'Lato', sans-serif;
}

.menu {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    padding: 20px;
    max-width: 90%;
    margin: 10px auto;
    border-bottom: 1px solid #8f1e1e;

    @media (max-width: 1000px) {
        flex-direction: column;
        align-items: center;
    }

    .item {
        padding: 18px 28px;
        cursor: pointer;
        transition: color .3s ease-out;
        text-decoration: none;
        color: #111;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        font-size: 18px;
        margin: 5px 0;

        &.active {
            color: #fff;
        }
    }

    .indicator {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 30px;
        width: 0;
        height: 0;
        background-color: transparent;
        border: 2px solid transparent;
    }
}
