@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

:root {
  --white: #F5F5F5;
  --light: #E0C9CB;
  --tan: #C3A1A0;
  --pink: #D9AAB7;
  --rose: #BA7E7E;
  --dark: #4E4E4E;
}

/* html {
  display: grid;
  min-height: 100%;
}

body {
  display: grid;
  background: var(--light);
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
} */

body{
    background-color: #dddada;
}

root {
    display: inline-flex;
}

.container {
    margin: 20px;
  position: relative;
  /* margin: auto; */
  overflow: hidden;
  width: 520px;
  height: 350px;
  background: var(--white);
  box-shadow: 5px 5px 15px rgba(186, 126, 126, .5);
  border-radius: 10px;
}

p {
  font-size: 0.6em;
  color: var(--rose);
  letter-spacing: 1px;
}

h1 {
  font-size: 1.2em;
  color: var(--dark);
  margin-top: -5px;
}

h2 {
  color: var(--tan);
  margin-top: -5px;
}

img {
  width: 290px;
  margin-top: 47px;
}

.slideshow-buttons {
  top: 70%;
  display: none;
}

.one, .two, .three, .four {
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: var(--light);
}

.one {
  left: 22%;
}
.two {
  left: 27%;
}
.three {
  left: 32%;
}
.four {
  left: 37%;
}

.product {
  position: absolute;
  width: 40%;
  height: 100%;
  top: 10%;
  left: 60%;
}

.desc {
  text-transform: none;
  letter-spacing: 0;
  margin-bottom: 17px;
  color: var(--dark);
  font-size: .7em;
  line-height: 1.6em;
  margin-right: 25px;
  text-align: justify;
}

button {
  background: #c3999b;
  padding: 10px;
  display: inline-block;
  outline: 0;
  border: 0;
  margin: -1px;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--white);
  cursor: pointer;
}

button:hover {
  background: var(--rose);
  transition: all .4s ease-in-out;
}

.add {
  width: 67%;
}

.like {
  width: 22%;
}

.sizes {
  display: grid;
  color: var(--pink);
  grid-template-columns: repeat(auto-fill, 30px);
  width: 60%;
  grid-gap: 4px;
  margin-left: 20px;
  margin-top: 5px;
}

.sizes:hover {
  cursor: pointer;
}

.pick {
  margin-top: 11px;
  margin-bottom: 0;
  margin-left: 20px;
}

.size {
  padding: 9px;
  border: 1px solid var(--light);
  font-size: 0.7em;
  text-align: center;
}

.size:hover {
  background: var(--rose);
  color: var(--white);
  transition: all .4s ease-in-out;
}

.focus {
  background: var(--rose);
  color: var(--white);
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.8em;
  text-transform: uppercase;
  padding: 10px;
}

footer p {
  letter-spacing: 3px;
}

footer a {
  color: #ffffff;
  text-decoration: none;
}

footer a:hover {
  color: #7d7d7d;
}
